<div class="list">
  <%= render 'shops/add_shop' %>
  <% @shops.each_with_index do |shop, index| %>
    <div class="row">
      <div class="small-10 small-centered columns">
        <% if index % 2 == 0 %>
          <div class="callout secondary">
        <% else %>
          <div class="callout primary">
        <% end %>
          <h3><%= link_to shop.name, shop_path(shop) %></h3>
          <p><%= shop.address %>, <%= shop.city %>, <%= shop.state %> <%= shop.zip %></p>
        </div>
      </div>
    </div>
  <% end %>
  <%= render 'shops/add_shop' %>
</div>
