<h1><%= @shop.name %></h1>

<ul>
  <li><%= @shop.address %></li>
  <li><%= @shop.city %></li>
  <li><%= @shop.state %></li>
  <li><%= @shop.zip %></li>
  <li><%= @shop.description %></li>
  <li><%= @shop.pricing %></li>
  <li><%= @shop.hours %></li>
</ul>

<h3>Reviews</h3>
<% @reviews.each do |review| %>
<%= review.comment %>
<%= review.rating %>
<%= review.created_at %>
<% if user_signed_in? && current_user.id == review.user_id %>
<%= link_to "Edit", edit_shop_review_path(review), class: "btn btn-sm btn-default"%>
<% end %>

<%= link_to "Add a Review", new_shop_review_path(@shop) %>
<%= render 'shops/destroy' %>
<%= link_to 'Edit Shop', edit_shop_path %>
