<div class="row columns">
  <div class="row" data-equalizer data-equalize-on="medium">
    <div class="small-12 medium-8 columns" data-equalizer-watch>
      <h1><%= @shop.name %></h1>
    </div>

    <div class="small-12 medium-2 columns text-right edit-shop" data-equalizer-watch>
      <div class="edit-delete-button" data-equalizer-watch>
        <% if current_user %>
          <% if current_user.admin? %>
            <%= button_to "Delete Shop", @shop, action: 'destroy', method: :delete, class: "button delete-button" %>
          <% end %>
        <% end %>
        <% if user_signed_in? && (current_user.id == @shop.user_id) %>
          <%= link_to "Edit Shop", edit_shop_path(@shop), { class: "button edit-shop-button" } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="callout warning">
    <div class="shop-description">
      <span class="bold">Description:</span> <%= @shop.description %>
    </div>

    <div class="row" data-equalizer data-equalize-on="medium">
      <div class="small-12 medium-4 columns">
        <div class="callout success" data-equalizer-watch>
          <h4>Address</h4>
          <p><%= @shop.address %>
          <%= @shop.city %>, <%= @shop.state %> <%= @shop.zip %></p>
        </div>
      </div>

      <div class="small-12 medium-4 columns">
        <div class="callout success" data-equalizer-watch>
          <h4>Pricing</h4>
          <% if @shop.pricing && @shop.pricing != "" %>
            <p><%= @shop.pricing %></p>
          <% else %>
            <p>Information not available</p>
          <% end %>
        </div>
      </div>

      <div class="small-12 medium-4 columns">
        <div class="callout success" data-equalizer-watch>
          <h4>Hours</h4>
          <% if @shop.hours && @shop.hours != "" %>
            <p><%= @shop.hours %></p>
          <% else %>
            <p>Information not available</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-4 columns">
        <% rating = 0 %>
        <% num_of_ratings = 0 %>
        <% final_rating = 0 %>
        <% if !@shop.reviews.empty? %>
          <% @shop.reviews.each do |review| %>
            <% rating += review.rating %>
            <% num_of_ratings += 1 %>
          <% end %>
          <% final_rating += (rating.to_f / num_of_ratings) %>
            <%= render 'shops/ratings_stars_not_empty', final_rating: final_rating %>
          <% else %>
            <%= render 'shops/ratings_stars_empty' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-2 columns">
      <h3>Reviews</h3>
    </div>

    <div class="small-12 medium-2 columns text-right">
      <%= link_to "Add a Review", new_shop_review_path(@shop), { class: "button" } %>
    </div>
  </div>

  <% @reviews.each_with_index do |review, index| %>
    <div class="row">
      <div class="small-2 large-1 columns text-center">
        <div class="row">
          <%= form_for [review, @vote], html: { class: "upvote" } do |f| %>
            <%= f.hidden_field :upvote, value: true %>
            <%= f.submit "upvote", class: "button" %>
          <% end %>
        </div>
        <div class="row">
          <div class="votecount-<%= review.id %>"><%= review.votecounts %></div>
        </div>
        <div class="row">
          <%= form_for [review, @vote], html: { class: "downvote" } do |f| %>
            <%= f.hidden_field :upvote, value: false %>
            <%= f.submit "downvote", class: "button" %>
          <% end %>
        </div>
      </div>
      <div class="small-10 large-11 columns">
        <% if index % 2 == 0 %>
          <div class="callout warning">
        <% else %>
          <div class="callout success">
        <% end %>
          <p><span class="bold"><%= review.user.first_name %> <%= review.user.last_name %></span>
          Rating: <% review.rating.times do %>
            <i class="fa fa-star" aria-hidden="true"></i>
          <% end %>
          <% (5 - review.rating.to_i).times do %>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          <% end %></p>
          <p><%= review.comment %></p>
          <p><%= review.created_at.strftime("%b %d, %Y, %-l:%M %p") %></p>
          <% if user_signed_in? && (current_user.id == review.user_id) %>
            <%= link_to "Edit Review", edit_shop_review_path(review.shop_id, review) %>
          <% end %>
          <% if current_user %>
            <% if current_user.admin? %>
              <%= button_to "Delete Review", shop_review_path(review.shop_id, review),
              action: 'destroy', method: :delete, class: "button delete-button" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
