<div class="row">
  <div class="small-12 medium-6 columns text-center">
    <h1 class="form-header">Forgot your password?</h1>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="row">
    <div class="small-12 medium-6 columns errors">
        <%= devise_error_messages! %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= f.submit "Send me reset password instructions", class: "button" %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="small-12 medium-6 columns">
    <%= render "devise/shared/links" %>
  </div>
</div>
