<%= form_for [@shop, @review] do |f|%>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.label :rating %>
      <%= f.select(:rating, options_for_select([[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]])) %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.label :comment, "Review" %>
      <%= f.text_area :comment %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= f.submit class: "button" %>
    </div>
  </div>
<% end %>
