<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="top-bar">
    <div class="top-bar-title small-12 medium-4 columns">
      <strong>Bubble T-Stops</strong>
    </div>
    <div class="top-bar-left">
    </div>
    <div class="top-bar-right">
      <% if user_signed_in? %>
      <%= link_to t('auth.sign_out'), destroy_user_session_path, method: 'delete' %>
      <% else %>
      <%= link_to t('auth.sign_in'), new_user_session_path %> / 
      <%= link_to t('auth.sign_up'), new_user_registration_path %>
      <% end %>
    </div>
  </div>

  <div class="container">
   <% flash.each do |key, value| %>
     <div class="alert alert-<%= key %>"><%= value %></div>
   <% end %>
  </div>

<%= yield %>

</body>
</html>
